* {
        text-align: center;
}
.mainHeader {
        background: #282828;
        color: white;
        text-align: center;
        padding: 1rem;
}

.TodoList {
        display: flex;
        padding: 1rem;
        background: grey;
        justify-content: center;
}

.TodoList input {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
}

.TodoList button {
        font-size: 18px;
}

.itemContainer {
        border: green 2px solid;
        height: 100vh;
        background: orange;
        padding: 0 2rem 0 2rem;
}

.theList {
        display: flex;
        flex-flow: column nowrap;
        color: black;
        padding: 1rem 1rem 1rem 1rem;
}

.theList li {
        display: flex;
        padding: 1rem 1rem 1rem 1rem;
        margin: 1rem;
        background: black;
        color: white;
        opacity: 0.5;
        border: grey 3px solid;
        border-radius: 5px;
        list-style: none;
        font-size: 20px;
        justify-content: center;
}

