@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import '~pretty-checkbox/src/scss/extras/animation';
/* REQUIRED */
@import '~pretty-checkbox/src/scss/variables';
@import '~pretty-checkbox/src/scss/core';
@import '~pretty-checkbox/src/scss/extras/colors';

//Colors
$primary-color: #8ec07c;
$secondary-color: #689d6a;

* {
  text-align: center;
}

body {
        h1 {
                font-size: 3rem;
        }
}

@mixin easeOut {
  transition: all 0.5s ease-out;
}

.App {
  height: 100vh;
  margin-top: 0;
  background: #334d50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cbcaa5,
    #334d50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cbcaa5,
    #334d50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.AppContainer {
  width: 600px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  border-radius: 5px;
  box-shadow: 10px 10px rgba(black, 0.4);
}

.navBar {
  background: #282828;
  color: lighten(#353535, 10);
  font-size: 1rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  .navLinks {
    line-height: 41.5px;
  }
  .deleteButton {
    button {
      cursor: pointer;
      background: $primary-color;
      color: $secondary-color;
      border: $secondary-color 1px solid;
      border-radius: 5px;
      font-size: 14px;
      transform: translate(268px, 157px);
      .faWindowClose {
      }
    }
  }
}

.mainHeader {
  justify-content: center;
  color: white;
  top: 0;
  height: 10vh;
  padding: 1rem 0;
  background: rgba(#282828, 0.75);
}

.mainFooter {
  background: rgba(#121212, 0.85);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  line-height: 2rem;
  display: flex;
  flex-flow: row nowrap;
  p {
    padding-left: 2rem;
    padding-right: 0.5rem;
  }
  button {
    cursor: pointer;
    border-radius: 5px;
    background: $secondary-color;
    color: $primary-color;
    height: 2.5rem;
    margin-top: 12px;
  }
}

.todoListMain {
  display: flex;
  flex-flow: row nowrap;
  background: #282828;
  justify-content: flex-start;
  height: 3rem;
  border-bottom: #353535 1px solid;
  form {
    transform: translate3d(8px, -1px, 0);
    padding: 12px;
    input {
      width: 460px;
      background: #353535;
      color: #fff;
      border: $secondary-color 1px solid;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      font-size: 13px;
      text-align: left;
      padding-left: 5px;
      transform: translate(0, 1px);
      &::placeholder {
        color: grey;
        text-align: left;
        direction: rtl;
      }
    }
    button {
      cursor: pointer;
      background: $primary-color;
      color: $secondary-color;
      border: $secondary-color 1px solid;
      border-left: none;
      border-radius: 3px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 14px;
      transform: translate3d(0, 1px, 0);
      margin-left: -2px;
      padding-bottom: 0px;
      .faPlus {
        padding: 0 1rem;
        transform: translate(0, -1px);
      }
      &:hover {
        animation: bounce 1s ease-out;
      }
    }
  }
  .deleteButton {
    button {
      cursor: pointer;
      background: $primary-color;
      color: $secondary-color;
      border: $secondary-color 1px solid;
      border-radius: 5px;
      font-size: 14px;
      transform: translate3d(7px, 12px, 0);
    }
  }
}

.itemContainer {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  ul {
    //border: #282828 1px solid;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding-left: 0;
    font-size: 0;
    height: 309.6px;
    background: rgba(lighten(#121212, 0), 0.9);
    border-left: #353535 1px solid;
    border-right: #353535 1px solid;
  }
  li {
    list-style: none;
    font-size: 16px;
    //font-weight: 600;
    text-align: left;
    width: 100%;
    padding: 15px 0;
    padding-left: 1rem;
    //border-bottom: #282828 1px solid;
    //border-top: #282828 1px solid;
  }
}

.liContainer {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: #282828 1px solid;
  background: rgba(lighten(#121212, 2), 0.5);
  @include easeOut();
  li {
    display: flex;
    flex-flow: row nowrap;
  }
}

// List Items
.faDotCircle {
  color: $primary-color;
  font-size: 10px;
  padding-right: 1rem;
  transform: translate(0, 60%);
  @include easeOut();
}

.pretty {
  font-size: 16px;
  position: absolute;
  right: 0;
  transform: translate(0, 22%);
}

.liContainer {
}

.textAlt {
  color: $secondary-color;
  border: none;
  border-radius: 10%;
  padding: 0 3px;
}

.textMain {
        color: $primary-color;
}



.FontAwesome {
  font-size: 16px;
}

.theList {
  display: flex;
  flex-flow: column nowrap;
}

.flexFix {
  display: flex;
  flex-flow: column nowrap;
  div {
    &:nth-child(7) {
      display: none;
    }
    &:nth-child(8) {
      display: none;
    }
    &:nth-child(9) {
      display: none;
    }
  }
}

.DeleteButton {
  background: orange;
  color: black;
}
$pretty--color-warning: #8ec07c;

.listFooter {
  height: 2rem;
  background: #121212;
  border-top: #353535;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #353535;
  line-height: 2rem;
}
